
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  font-family: 'Poppins', sans-serif;
  color: #333;
  background-color: #BEDFC8; /* This is the HEX value */
  line-height: 1.6;
}

/* Navbar */
.navbar {
  background-color: #224F60;
  padding: 20px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
  font-family: 'Poppins', sans-serif;
}

.navbar .navbar-brand,
.navbar .nav-link {
  color: #B7E5AF !important; 



#profile img{
    width:300px;
    height:300px;
   border: 5px solid ##FFFFFF; 
  border-radius: 5px;
  border-spacing: 2px;
  border-shadow:5px;
}



#projects {

  background-color: #E3D8CE;
}